th, .row-label {
  background: #eee;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  font-size: 8pt;
  color: #222;
  height: 23px;
  border: solid 1px #ccc;
  border-width: 0 1px 1px 0;
  overflow: hidden;
  padding: 0;
  width: 40px;
}

table { 
  border-spacing: 0;
  border-collapse: collapse;
}

.cell {
  border: solid 1px #ccc;
}

.cell input {
  border: 0;
  font-size: 10pt;
  outline: none;
  height: 24px;
  width: 150px;
}

.cell.active {
  position: relative;
  border: solid 3px #5f96ff;
}

.cell .filter {
  display: none;
  position: absolute;
  top: calc(24px + 6px + 1px);
  left: -3px;
  width: calc(150px);
  height: 100px;
  background-color: #ddd;
  font-size: 10px;
  padding-left: 10px;
}

.cell .filter-inner {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
}

.cell.active.filtering .filter {
  display: block;
}
