.row-label {
  background-color: lightblue;
  color: white;
}

th {
  background-color: red;
  color: white;
}

.cell {
  background-color: gainsboro;
  border: none;
}

.cell.editing {
  background-color: lightgreen;
}
